extends layout

block content

  div.container
    h1.text-center= data.tag
    - if(data.dates)
      p(class='lead text-center')= data.dates
    p= data.description.one
    - if(data.description.two.length !== 0)
      p(class='btn btn-info btn-sm open') Read On
    p.two= data.description.two
    - for(var part in data)
      - if(part === 'image')
        - for(var img in data[part])
          p(class='btn btn-default image' class='#{img}') Image
          img(src='/images/#{data[part][img]}' width='170' height='250' class='pic' id='#{img}')
      - if(part !== 'tag' && part !== 'description' && part !== 'dates' && part !== 'place' && part !== 'image')
        - if(part === 'literature')
          p <strong>Literary Sources: </strong>
            - for(var text in data[part])
              a(class='btn btn-default' href='/calltext/#{data[part][text].text.source}+#{data[part][text].text.text}')= data[part][text].name
        - else
          a(href='/section/#{data[part].place}' class='btn btn-default')= part
