extends layout

block content

  div.container
    h1.text-center= data.tag
    - if(data.dates)
      p(class='lead text-center')= data.dates
    p= data.description.one
    - if(data.description.two.length !== 0)
      p(class='btn btn-info btn-sm open') Read On
    p.two= data.description.two
    - if(data.stages)
      div.row
        h3 Stages
        - for(var stage in data.stages)
          a(class='btn btn-default' href='/section/#{data.stages[stage].place}')= data.stages[stage].tag
    - if(data.aspects)
      div.row
        h3 Aspects
        - for(var aspect in data.aspects)
          a(class='btn btn-default' href='/section/#{data.aspects[aspect].place}')= data.aspects[aspect].tag
    - for(var part in data)
      - if(part === 'image')
        - for(var img in data[part])
          p(class='btn btn-default image' class='#{img}') Image
          img(src='/images/#{data[part][img]}' width='170' height='250' class='pic' id='#{img}')
      - if(part === 'literature')
        p <strong>Literary Sources: </strong>
          - for(var text in data[part])
            a(class='btn btn-default' href='/calltext/#{data[part][text].text.source}+#{data[part][text].text.text}')= data[part][text].name

