extends layout

block content

  div.container
    h1.text-center= data.tag
    - if(data.dates)
      p(class='lead text-center')= data.dates
    p= data.description.one
    - if(data.description.two.length !== 0)
      p(class='btn btn-info btn-sm open') Read On
    p.two= data.description.two
    - var c = 0
    - for(var part in data)
      - if(part !== 'tag' && part !== 'description' && part !== 'dates')
        - if(part === 'literature')
          p <strong>Literary Sources: </strong>
            - for(var text in data[part])
              a(class='btn btn-default' href='/calltext/#{data[part][text].text.source}+#{data[part][text].text.text}')= data[part][text].name
        - else
          a(href='/section/#{part}' class='btn btn-default')= part
